.content{
   
    background-color: darkgray;
    height: 2450px;
    width: 100%;
   padding-top: 30px;

}
.video{
  
   margin:0 auto;
   width: 1500px;
   text-align: center;
   
}
.video iframe{
    margin-top: 30px;
}
.video .starts{
   margin:0 auto;

}
.headerr{
   
    background-color: black;
    height: 50px;
    width: 1500px;
    margin-right: auto;
    margin-left: auto;
    
}
.comment{
    margin-top: 30px;
    text-align: center;
    height: 1500px;
    width: 1500px;
    background-color: whitesmoke;
    margin-right: auto;
    margin-left: auto;
}
div.stars {
    width: 270px;
    display: inline-block;
    
  }
   
  input.star { display: none; }
   
  label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
  }
   
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
   
  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }
   
  input.star-1:checked ~ label.star:before { color: #F62; }
   
  label.star:hover { transform: rotate(-15deg) scale(1.3); }
   
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }
.danhgia{
    margin-left: auto;
    margin-right: auto;
}
  
